<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Test APP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <audio style="display: none;" class="display-none" #audio *ngIf="!hide" class="player" controls [src]="audioUrl">
      Your browser does not support the<code>audio</code> element.
    </audio>

    <button (click)="showHide()">Show/Hide</button>
    <button (click)="playStop()">Play/Stop</button>
  </div>
</ion-content>
